@import url(http://fonts.googleapis.com/css?family=Puritan:300italic,300,400,600,700);
a,
h1,
h2,
h3,
h4,
h5,
p {
    font-family: Puritan, Tahoma, Arial;
}

ol, ul {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

hr {
    padding: 0;
    border: none;
    border-top: medium double #a20000 4px;
    color: #a20000;
    text-align: center;
}

hr:after {
    content: "\e000";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-family: imm-setengah-abad;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #ffffff;
}

.marquee {
    width: 100%;
    overflow: hidden;
    top: 80px;
    position: absolute;
    z-index: 1;
}

.marquee2 {
    width: 100%;
    overflow: hidden;
    top: 150px;
    position: absolute;
    z-index: 1;
}

.marquee3 {
    width: 100%;
    overflow: hidden;
    top: 215px;
    position: absolute;
    z-index: 1;
}
.marquee i, .marquee2 i, .marquee3 i {
    font-size: 50px;
    color: #780000;
}

.navbar {
    border-radius: 0px !important;
    margin-bottom: 0px !important;
    border-bottom: none !important;
}

.navbar-inverse {
    background-color: #c60000 !important;
}

.navbar-header a {
    color: #000000 !important;
}

.navbar-brand i {
    font-size: 25px;
}

.social-icon {
    padding: 10px 10px;
    list-style: none;
}
.social-icon > li {
    display: inline-block;
}

.social-icon i {
    font-size: 18px;
    color: #004444;
    padding: 5px;
}

.social-icon > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "";
}
.fa-facebook:hover {
    padding: 5px;
    background: #0083C9;
}

.fa-twitter:hover  {
    padding: 5px;
    background: #00abe3;
}

.navbar-inverse .navbar-nav > li > a {
    color: #780000 !important;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #000 !important;
    margin-bottom: 2px;
    border-bottom: solid #a20000 6px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #000 !important;
    background-color: #780000 !important;
}
header {
    margin: 0;
    padding: 0;
}

.card__share {
    float: right;
    right: 120px;
    position: relative;
    margin-top: -28px;
    z-index: 9;
}

.card__share > a,
.card__share > a:hover,
.card__share > a:focus {
    text-decoration: none;
}

.card__social {
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
    width: 160px;
    transform: translateZ(0);
    transform: translateX(0px);
    transition: transform 0.35s ease;
}
.card__social--active {
    visibility: visible;
    /*z-index: 3;*/
    transform: translateZ(0);
    transform: translateX(-48px);
    transition: transform 0.35s ease;
}

.share-toggle {
    z-index: 2;
}

.share-toggle:before {
    content: "\f1e0";
    font-family: 'FontAwesome';
    color: #3498db;
    text-decoration: none;
}
.share-toggle.share-expanded:before {
    content: "\f00d";
    text-decoration: none;
}

.share-icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s ease;
    outline: 0;

    box-shadow:
    0 2px 4px rgba(0,0,0, 0.12),
    0 2px 4px rgba(0,0,0, 0.24);
}

.share-icon:hover,
.share-icon:focus {
    box-shadow:
    0 3px 6px rgba(0,0,0, 0.12),
    0 3px 6px rgba(0,0,0, 0.24);

    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.facebook {
    background-color: #0083C9;
}
.twitter {
    background-color: #00abe3;
}
.googleplus {
    background-color: #d3492c;
}

.facebook,
.twitter,
.googleplus {
    color: #fff;
}

.facebook:hover,
.twitter:hover,
.googleplus:hover {
    color: #eee;
}
.col-marquee {
    width: 100%;
    height: 300px;
    background-color: #a20000;
}

.title {
    position: absolute;
    z-index: 90;
    padding: 0 150px 0 150px;
    top: 120px;
    color: #000000;
    text-align: center;
    font-family: Puritan, Tahoma, Arial;
}
.dakwah {
    padding: 0;
    margin: 20px 0 0 0;
    height: auto;
}

.dakwah span {
    font-size: 200px;
    color: green;
}

.dakwah h2 {
    font-family: Puritan, Tahoma, Arial;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: bold ;
    text-align: center;
}

.dakwah h3 {
    font-family: Puritan, Tahoma, Arial;
    letter-spacing: 5px;
    font-weight: bold ;
    text-align: center;
}

.dakwah h4 {
    font-family: Puritan, Tahoma, Arial;
    padding-top: 40px;
    line-height: 30px;
}

.dakwah p {
    font-family: Puritan, Tahoma, Arial;
    font-style: italic;
}

.berkemajuan h4 {
    font-family: Puritan, Tahoma, Arial;
    line-height: 30px;
    word-wrap: break-word;
}
footer {
    background-color: #C60000;
    width: 100%;
}
.menu-bawah {
    padding: 10px 10px;
    list-style: none;
}
.menu-bawah > li {
    display: inline-block;
}

.menu-bawah > li > a {
    text-decoration: none;
    color: #780000;
}

.menu-bawah > li > a:hover {
    text-decoration: none;
    color: #333;
}

.menu-bawah > li + li:before {
    color: #780000;
    padding: 0 25px 0 25px;
    content: "\f142";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.soslink {
    margin-top: 10px;
}

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear alternate infinite;
}

.path-icon {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 15s linear alternate;
}

@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.icon-isa {
  display: inline-block;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  height: 40px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
  margin-bottom: 10px;
}

.icon-isa:hover{
    cursor: pointer;
    -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,.5);
  box-shadow: 0 3px 3px 0 rgba(0,0,0,.4);
}

.icon-isa > .icon-isa-split{
  background: #c60000;
  width: 33px;
  float: left;
  color: #fff!important;
  height: 100%;
  text-align: center;
}

.icon-isa > .icon-isa-split > i {
  position:relative;
  font-size: 18px;
  top: calc(50% - 9px)!important; /* 50% - 3/4 of icon height */
}

.icon-isa > .icon-isa-teks{
  line-height: 19px;
  padding-top: 11px;
  padding-left: 45px;
  padding-right: 20px;
}