$isa-isa: "\e900";
$isa-immawati1: "\e901";
$isa-immawan1: "\e902";
$isa-wanwati: "\e903";
$isa-immawati: "\e904";
$isa-immawan: "\e905";
$isa-strugle: "\e906";
$isa-wallmuh: "\e907";
$isa-ipm: "\e908";
$isa-pemuda: "\e909";
$isa-tspm: "\e90a";
$isa-aisyiyah: "\e90b";
$isa-muhammadiyah: "\e90c";
$isa-lazismu: "\e90d";
$isa-hw: "\e90e";
$isa-na: "\e90f";
$isa-muktamar47: "\e910";
$isa-mentari-news: "\e911";
$isa-sang-pencerah: "\e912";
$isa-kufi-ipm: "\e913";
$isa-kufi-imm: "\e914";
$isa-kufi-na: "\e915";
